* {
    box-sizing: border-box;
}

body{
    background-color: #00005D;
    font-family: Arial;
}

#wrapper {
    width:80%;
    min-width:960px;
    max-width:1200px;
    color:#000066;
    background-color:#B3C7E6;
    margin:auto;
}

header {
    background-color:#869DC7;
    color: 00005D;
    font-size:150%;
    padding:10px 10px 10px 155px;
    background-image: url(lighthouselogo.jpg);
    background-repeat:no-repeat;
}

nav {
    float:right;
    width:200px;
    font-weight:bold;
    letter-spacing:0.1em;
}

main {
    background-color:#FFFFFF;
    color:#000000;
    padding:10px, 20px;
    display:block;
    overflow:auto;
}
footer {
    font-size:70%;
    text-align:center;
    padding:10px;
    background-color:#869DC7;
}

h2 {
    color:#869DC7;
    font-family:Arial;
}

#floatright {
    float:right;
    margin:10px;
}

nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

nav a {
    text-decoration: none;
    padding: 20px;
    display: block;
    background-color: #B3C7E6;
    border-bottom: 1px solid #FFFFFF;
}

nav a:link {color: #FFFFFF;}
nav a:visited {color: #EAEAEA;}
nav a:hover {color: #869DC7;
background-color: #EAEAEA;}