* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #8097ffc9;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;  
    padding: 15px 20px;
    background-color: #93f7d7;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav {
    display: flex;
    align-items: center;
    gap: 15px; 
}

nav a {
    text-decoration: none;
    text-align: center;
    resize: none;
    color: black;
    font-size: 16px;
}

.search-input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

h2 {
    margin: 10px 0;
    margin-bottom: 20px;
    margin-left: 10px;
    color: #000000;
    align-items: baseline;
}

h4 {
    margin: 7px 0;
}

button {
    background-color: #5a67d8;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    padding: 10px;
        
}

button:hover {
    background-color: #4c51bf;
}

.row {
    display: flex;
    justify-content: space-between; 
    gap: 20px; 
    flex-wrap: wrap; 
}

.col-md-4 {
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
}

.card {
    margin: 30px;
    padding: 20px;
    border-radius: 5px;
}
