/* Tablets */
@media (max-width: 900px) {
    .col-md-4 {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

/* Phones */
@media (max-width: 600px) {
    .col-md-4 {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
        gap: 10px;
        text-align: center;
        align-items: center;
    }

    nav {
        flex-wrap: wrap;
        justify-content: center;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #8097ffc9;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: blue;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;  
    padding: 15px 20px;
    background-color: #93f7d7;
}

nav {
    display: flex;
    align-items: center;
    gap: 15px;
}

/*nav a {
    text-decoration: none;
    text-align: center;
    resize: none;
    color: black;
    font-size: 16px;
}*/

.search-input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-width: 200px;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

h2 {
    margin: 10px 0;
    margin-bottom: 20px;
    margin-left: 10px;
    color: #000000;
}

h4 {
    margin: 7px 0;
}

button {
    background-color: #5a67d8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    padding: 10px;
        
}

button:hover {
    background-color: #4c51bf;
}

.row {
    display: flex;
    justify-content: flex-start;
    gap: 20px; 
    flex-wrap: wrap; 
    padding: 20px;
}

.col-md-4 {
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
}

.card {
    padding: 20px;
    border-radius: 8px;
}

@media (max-width: 600px) {
    .card {
        margin: 15px;
    }
}
